<h4 id="{{include.content}}">{{include.para}} {{include.content}}</h4>

<div markdown="span" class="alert alert-success" role="alert">
GET https://directory.spineservices.nhs.uk/STU3/{{include.resource}}?{{include.content}}=[integer]</div>

<p>See <a href="http://hl7.org/fhir/stu3/search.html#count" >_count</a> for details on this result parameter.</p>

<div class="language-http highlighter-rouge">
<pre class="highlight"><code><span class="err">GET https://directory.spineservices.nhs.uk/STU3/{{include.resource}}?{{include.content}}={{include.example}}
</span></code>
Return {{include.resource}} resources with a maximum of 10 resources per page.</pre>
</div>
