

  <div class="alert alert-warning" role="alert">
<i class="fa fa-warning"></i> <b>Important:</b> This site is under active development by NHS Digital and is intended to provide all the technical resources you need to successfully develop applications using the FHIR&reg; CDS API.</div>

<!--
<div class="alert alert-danger" role="alert">
<i class="fa fa-exclamation-circle"></i> <b>Warning:</b> This site is provided for information only and is intended for those engaged with NHS Digital. It is advised not to develop against these specifications until a formal announcement has been made.</div>
-->